body {
    margin: 0;
    padding: 0;
   /* background-color: #e6cbb5; */
    background-image: url(assets/wallpaper.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    color: #fff;
}
h1{
    color: #E0A16E;    
}
p{
    color: #AD7D55;
}

.drag__bar {
    -webkit-appearance: none;    
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    
}  
.drag__bar:hover {
    opacity: 1;
}  
.drag__bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #e6cbb5;
    cursor: pointer;
    box-shadow:0px 0px 11px 8px rgba(0,0,0,0.26);
    background-position: center;
    background-repeat: no-repeat;    
}

.links a, .butts{
    border: none;
    display: inline-block;
    background-color: #e0a16e;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
    margin-left: 10px;
}
.links a:hover, .butts:hover {
    background-color: #c98a53;
}
  

  
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.boxxie {
    background-color: #61564d;
    padding: 20px;
    text-align: center;
    border: 2px solid #61462f;
    border-radius: 10px;
}
.configs, .links{
    padding: 10px;
    text-align: center;
}


