#miAudio {
    display: none;
}
body {
    margin: 0;
    padding: 0;
  /* background-color: #e6cbb5; */
  background-image: url(assets/wallpaper.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    color: #fff;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.info-box {
    background-color: #61564d;
    padding: 20px;
    text-align: center;
    border: 2px solid #61462f;
    border-radius: 10px;
}

h1 {
    font-size: 36px;
    margin: 0;
    padding: 0;
}

p {
    font-size: 18px;
    margin: 10px 0;
}

.container a {
    display: inline-block;
    background-color: #e0a16e;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
}

a:hover {
    background-color: #ad7d55;
}